    @import '../../scss/_variables';
    
    .image-card {
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-grow: 1;
        transition: all .3s;
        min-height: 320px;
        min-width: 215px;
        margin: 25px;
        border-radius: 5px;
    
        &:hover {
            cursor: pointer;
            box-shadow: 0px 15px 25px -5px;
            transform: scale(1.03);
        }
        &:active {
            box-shadow: 0px 4px 8px;
            transform: scale(0.98);
        }
    }

