.header-fixed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    top: -100px;

    .header {
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;
    }
}
