@import "../../scss/_variables";
.info {
    letter-spacing: 2px;
    line-height: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 400px;
    .title {
        padding: 10px;
        background-color: gray;
        color: #fff;
        text-transform: uppercase;
    }
    .basic-details {
        text-transform: uppercase;
        display: flex;
        justify-content: flex-start;
        height: 100px;
        align-items: center;
        padding: 10px;
        color: #222;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 0 14px;
        h5 {
            color: #292c2f;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            line-height: 32px;
            margin: 0 0 14px;
        }
        h4 {
            color: #292c2f;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            line-height: 40px;
            margin: 0 0 16px;
        }
    }
}
