.cards-box {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0px 0px 20px 0px;
    border-radius: 10px;
    justify-content: space-around;
    margin: 50px;
    background-color: #292c2f;
}

.box {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    justify-content: space-around;
}

@media (max-width: 767px) {
    .cards-box{
        margin: 0;
    }
}

