.page-container {
    width: 100%;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content {
        width: 85%;
        margin: auto;
    }
}
